body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

.menu {
    background-color: #4CAF50;
    padding: 10px 32px;
    color: white; 
}

.menu a {
    color: white;
    text-decoration: none;
    margin-right: 24px;
}

main {
    padding: 32px;
}